/* Created by: Rory Mackay
* Created on: April 2022
*Assign-02-Design-More-Calculations
*/

body {
  /* Gradient backround from: https://codepen.io/P1N2O/pen/pyBNzX */
  background: linear-gradient(-45deg, #ef734d, #ffd91a, #020080, #00bfff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h4 {
  padding: 40px;
  text-align: center;
  color: #fff0eb;
}

p {
  color: #ffebdb;
  font-weight: bold;
}

div {
  color: #ffebdb;
  font-weight: bold;
}

p::selection {
  background: #00a8e0;
  color: #a80000;
}